@charset "UTF-8";

body{
    background-color: #dfdfdf;
}

p{
    color: rgb(34, 34, 34);
}

.foto{
    width: 200px;
    border: 2px solid #ffffff; /*shorthand*/
    border-radius: 50%;
    margin: 30px ;
    padding: 10px;
}
