@charset "UTF-8";

::selection{
    color: palevioletred;
    background:darkmagenta ;
}

p::first-line{
    color: orange;
}

p::first-letter{
    color: blue;
    font-size: 50px;
}

h1::before{
    background: url(https://thumbs.dreamstime.com/b/rocket-lan%C3%A7amento-do-foguete-de-espa%C3%A7o-o-projeto-come%C3%A7a-acima-dos-desenhos-animados-voo-ilustra%C3%A7%C3%A3o-vetor-isolada-no-fundo-127571950.jpg);
    background-size: cover;
    width: 35px;
    height:35px;
    display: inline-block;
    content: "";
    margin-right: 0;
}

h1::after{
    background: url(https://thumbs.dreamstime.com/b/rocket-lan%C3%A7amento-do-foguete-de-espa%C3%A7o-o-projeto-come%C3%A7a-acima-dos-desenhos-animados-voo-ilustra%C3%A7%C3%A3o-vetor-isolada-no-fundo-127571950.jpg);
    background-size: cover;
    width: 35px;
    height:35px;
    display: inline-block;
    content: "";
    margin-right: 0;
}