@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    
}

h1,h2,h3,h4,p,img, iframe{
    margin-left: 20px;
    margin-bottom: 15px;
}

.header {
    background-color: gray;
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
}

.container{
    display: flex;
}

.navbar{
    width: 30%;
    background: #a3a3a3;
    padding: 30px;
}

.content{
    width: 70%;
    background: #d8d8d8;
}

footer{
    background: gray;
    padding: 20px 0;
    text-align: center;
}